{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR Recognition Web App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2>Upload Image</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="id_image" class="form_label">Image:</label>&nbsp;
                    <input type="file" name="image" id="id_image" class="form_image" required><br>
                    <input type="submit" value="Upload">
                </form>
                <div class="card-result">

                    <h2>HTML Text</h2>
                    <p>{{ img.text }}</p>                

                </div>

            </div>
        </div>
    </div>
</body>
</html>